.body {
  background: #4e565b;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons__item {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: rgb(245, 245, 245);
  width: 198px;
  height: 48px;
  font-weight: 700;
  font-size: 21px;
  border-radius: 10px;
  justify-self: flex-start;
}
.buttons__item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.notifications {
  width: 71px;
  height: 55px;
  justify-self: flex-end;
opacity: 70%;
}
.notifications:hover {
  opacity: 90%;
}

.eyes {
  height: 205px;
  width: 356px;
  align-self: flex-end;
  transform: rotate(0.05turn);
  margin-right: 17%;
  /* margin-top: 1%; */
}

.countdown {
  font-size: 240px;
  font-weight: 700;
  margin-top: -4%;
}

.condition {
  height: 77px;
  width: 313px;
  border-radius: 10px;
  font-size: 36px;
  box-shadow: 10px 10px 5px #4b4b4b;
  margin-bottom: 25px;
}
.condition:hover {
  cursor: pointer;
}

.work {
  background-color: #ddfccb;
  border: 1px solid #405f3d;
  color: #405f3d;
}

.rest {
  background-color: #FCCBCB;
  color: #CC4141;
  border: 1px solid #CC4141;
}

.text {
  color: #ececec;
  font-size: 36px;
  line-height: 50px;

}

.hidden {
  display: none;
}
